* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.navbar__nav,
.socialMedia__icones,
.footer__socialMedia__icon {
  list-style: none;
}

body {
  background: rgb(0, 0, 0);
  background: linear-gradient(90deg, rgb(0, 0, 0) 0%, rgb(224, 23, 23) 100%);
  min-height: 100vh;
}

.header {
  min-width: 1170px;
  margin: 0 auto;
  padding: 1.5rem 0;
  width: 90%;
  position: relative;
  font-family: "Nightmare Story", sans-serif;
}

.header-heightMiddle {
  height: 300px;
}

.logo {
  font-size: 2rem;
  text-shadow: 2px 2px 1px rgba(1, 1, 8, 0.6);
  padding-left: 1%;
}

.navbar {
  display: flex;
  align-items: center;
  padding: 20px;
  width: 100%;
  background-color: black;
}

.navbar__link {
  color: #f1f806;
  text-transform: uppercase;
  font-size: 1rem;
  text-decoration: none;
}
.navbar__link:hover {
  color: #fff;
}

.m-1 {
  margin: 1rem;
}

.mx-1 {
  margin: 0 1.5rem;
}

.p-1 {
  padding: 1rem;
}

.text-white {
  color: #fff;
}

.container {
  display: flex;
}

@media (max-width: 1170px) {
  .header,
  .servicos,
  .servicos__card {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    min-width: 100%;
  }
  .socialMedia__icones {
    flex-flow: column;
  }
  .socialMedia_item {
    margin: 1rem;
  }
}
.servicos {
  min-width: 1170px;
  margin: 0 auto;
  padding: 1.5rem 0;
  width: 90%;
  position: relative;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  justify-content: space-around;
  flex: 1 1 200px;
}

.servicos__card {
  width: 20vw;
  margin: 1%;
  height: 25vh;
}

.footer {
  min-width: 1170px;
  margin: 0 auto;
  padding: 1.5rem 0;
  width: 90%;
  position: relative;
  display: flex;
  justify-content: space-evenly;
  color: white;
}
.footer__navbar {
  display: flex;
  justify-content: space-evenly;
}
.footer__navbar__link {
  text-decoration: none;
  color: white;
  font-size: 1vw;
}
.footer__navbar__nav {
  list-style: none;
  flex-flow: column;
}
.footer__socialMedia__icon {
  flex-flow: row;
  color: #fff;
  text-decoration: none;
}

.footer_form fieldset {
  font-size: 1.2em;
  border: transparent;
}

.logo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-size: 1.3em;
}

.logo img {
  width: 4vw;
}

#card1 {
  background-image: url(/root/SinglePage/images/produtos/hall_beach02.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
#card1 h2::before {
  content: "Para todas as idades";
  display: block;
  background-color: rgba(0, 0, 0, 0.4);
  color: #fff;
  padding: 1rem 0.5rem;
}

#card2 {
  background-image: url(/root/SinglePage/images/produtos/hall_beach04.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
#card2 h2::before {
  content: "Djs e shows ao vivo";
  display: block;
  background-color: rgba(0, 0, 0, 0.4);
  color: #fff;
  padding: 1rem 0.5rem;
}

#card3 {
  background-image: url(/root/SinglePage/images/produtos/hall_beach07.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
}
#card3 h2::before {
  content: "Fantasia e maquiagens por conta do Hotel";
  display: block;
  background-color: rgba(0, 0, 0, 0.4);
  color: #fff;
  padding: 1rem 0.5rem;
}

#card4 {
  background-image: url(/root/SinglePage/images/produtos/hall_beach09.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
}
#card4 h2::before {
  content: "Venha se divertir!";
  display: block;
  background-color: rgba(0, 0, 0, 0.4);
  color: #fff;
  padding: 1rem 0.5rem;
} /*# sourceMappingURL=style.css.map */
