@use "variaveis.scss" as v;
@use "mixins.scss" as mx;
@use "extends.scss";

body {
  background: rgb(0, 0, 0);
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(224, 23, 23, 1) 100%
  );
  min-height: 100vh;
}

.hide {
  display: none;
}

.header {
  @include mx.box;
  font-family: v.$fonteHeader;
}

.header-heightMiddle {
  height: 300px;
}

.logo {
  font-size: 2rem;
  text-shadow: 2px 2px 1px rgba(1, 1, 8, 0.6);
  padding-left: 1%;
  align-items: baseline;
}

.logo__slogan {
  font-family: v.$fonteHeader;
}

.logo__button {
  font-family: v.$fonteHeader;
  border-radius: 4px;
}

.navbar {
  display: flex;
  align-items: center;
  padding: 20px;
  width: 100%;
  background-color: black;
}

// &__nav {
.navbar__nav {
  @extend %list-none;
}

// &__link {
.navbar__link {
  color: v.$link;
  text-transform: uppercase;
  font-size: 1rem;
  text-decoration: none;

  &:hover {
    color: v.$linkHover;
  }
}

.socialMedia__icones {
  // list-style: none;
  @extend %list-none;
}

.m-1 {
  margin: v.$m1;
}

.mx-1 {
  margin: v.$mx1;
}

.p-1 {
  padding: v.$p1;
}

.text-white {
  color: v.$linkHover;
}

.container {
  display: flex;
}

@media (max-width: 1170px) {
  .header,
  .servicos,
  .servicos__card {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    min-width: 100%;
  }

  .socialMedia__icones {
    flex-flow: column;
  }

  .socialMedia_item {
    margin: v.$m1;
  }
}

.servicos {
  @include mx.box;
  @include mx.flex-center;
  flex-wrap: wrap;
  //justify-content:start;
  justify-content: space-around;
  flex: 1 1 200px;
}

.videoYouTube {
  display: none;
  width: 20vw;
  margin: auto;
  height: 25vh;
  padding: 0 0 300px 0;
  text-align: center;
}

.servicos__card {
  width: 20vw;
  margin: 1%;
  height: 25vh;
}

.footer {
  @include mx.box;
  @include mx.flex-center;
  color: rgb(255, 255, 255);

  &__navbar {
    @include mx.flex-center;

    &__link {
      text-decoration: none;
      color: #ffff;
      font-size: 1.5vw;
    }

    &__nav {
      //@extend %list-none;
      list-style: none;
      flex-flow: column;
    }
  }

  &__socialMedia {
    &__icon {
      flex-flow: row;
      @extend %list-none;
      color: #fff;
      text-decoration: none;
    }
  }
}

/* .footer_form fieldset {
  font-size: 1em;
  padding-top: 5px;
  /* border: transparent; */
/* border: 1px solid #fff;
}*/

.formContato {
  border-radius: 5px;
  background-color: transparent;
  padding: 20px;
  color: rgb(243, 239, 239);
}

.formContato input[type="text"],
select {
  width: 100%;
  padding: 12px 5px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.formContato input[type="submit"] {
  width: 50%;
  background-color: #ed0808;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.footer_contato {
  font-size: 1.4em;
}

.logo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-size: 1.3em;
}

.logo img {
  width: 4vw;
}

.logo button {
  background-color: rgb(223, 17, 17);
  text-align: center;
  box-sizing: border-box;
  padding: 0.4rem;
  display: block;
  width: 15%;
  margin: 1rem auto;
  border-radius: 12px;
}

$imgs: (
  "Para todas as idades": "hall_beach02.jpg",
  "Djs e shows ao vivo": "hall_beach04.jpg",
  "Fantasia e maquiagens por conta do Hotel": "hall_beach07.jpeg",
  "Venha se divertir!": "hall_beach09.jpeg",
);

$n: 0;

@each $titulo, $url in $imgs {
  $n: $n + 1;

  #card#{$n} {
    background-image: url(/root/SinglePage/images/produtos/#{$url});
    background-repeat: no-repeat;
    background-size: cover;

    & h2::before {
      content: "#{$titulo}";
      display: block;
      background-color: rgba(0, 0, 0, 0.4);
      color: #fff;
      padding: 1rem 0.5rem;
    }
  }
}

$imgs_halloween: (
  "Festa do Caqui": "hall_beach01.jpg",
  "Festa do Caqui1": "hall_beach02.jpg",
  "Festa do Caqui2": "hall_beach03.jpeg",
  "Festa do Caqui3": "hall_beach03.jpg",
  "Festa do Caqui4": "hall_beach04.jpeg",
  "Festa do Caqui5": "hall_beach04.jpg",
  "Festa do Caqui6": "hall_beach05.jpeg",
  "Festa do Caqui7": "hall_beach05.jpg",
  "Festa do Caqui8": "hall_beach06.jpeg",
  "Festa do Caqui9": "hall_beach06.jpg",
  "Festa do Caqui10": "hall_beach07.jpeg",
  "Festa do Caqui11": "hall_beach08.jpeg",
  "Festa do Caqui12": "hall_beach09.jpeg",
  "Festa do Caqui13": "hall_beach10.jpeg",
);
